{% extends 'panel.html' %}

{% block panel-content %}

<div class="row">
    <div class="columns">
      <h2>VER RESULTADOS</h2>
      <p>Se han aplicado diversas técnicas (combinadas) para reducir el ruido en la imagen, <br>
        seguidamente se ha aplicado <b>Redes Neuronales Recurrentes</b> para extraer texto de la imágenes
         <code>.Deep Learning</code>.</p>      
      
      <a class="button warning" href="{% url 'normas_app:procesar' %}">Regresar</a>
      <table class="stack">
        <thead>
          <tr>
            <th width="80">Fecha</th>
            <th width="200">Institución</th>
            <th width="200">Cargo</th>
            <th width="200">Nombre</th>
            <th width="50">Genero</th>
            
          </tr>
        </thead>
        <tbody>
            
          <tr>
            <td>
              <ul class="accordion" data-accordion data-multi-expand="true">
                {{fecha}}
              </ul> 
            </td>
            <td>               
              <ul class="accordion" data-accordion data-multi-expand="true">
                {{entidad}}
              </ul>              
             </td>
             <td>               
              <ul class="accordion" data-accordion data-multi-expand="true">
                {{cargo}}
              </ul>              
             </td>

             <td>               
              <ul class="accordion" data-accordion data-multi-expand="true">
                {{nombre}}
              </ul>              
             </td>

             <td>               
              <ul class="accordion" data-accordion data-multi-expand="true">
                {{genero}}
              </ul>              
             </td>

                        
          
          </tr>

         

        </tbody>
      </table>
    </div>
  </div>
  


{% endblock panel-content %}